*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.main-container{
    display:100vh;
    position:relative;
}
.buttons{
    position:absolute;
    top: 50%;
    left:50%;
}
.bttn{
    padding:1rem 2rem;
    font-size:1.5rem;
}
.off_bttn{
    display:none;
}