*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
.main_container{
    background-color:lightblue;
    height:100vh;
    width: 98%;
    border:2px solid red;
    margin: 1.5rem 1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.title{
    font-size:2.5rem;
    cursor:pointer;
    padding-bottom:1rem;

}
.title1,.title2,.title3{
    padding:1rem;
    text-decoration:underline;
}
.info_container{
    display:flex;
   
}
.html_container,.css_container,.js_container{
     background-color:yellow;
    height:30rem;
    width:50rem;
    font-size:2rem;
    padding:2rem;
    border:2px solid red;
}
.css_container{
    display:none;
}
.js_container{
    display:none;
}